* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  gap: 15px;
  height: 50px;
  align-items: center;
  padding-left: 30px;
  background-color: aqua;
}
h1 {
  text-align: center;
}
.CardBig {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.cardSmall {
  height: 650px;
  border: 1px solid grey;
  padding: 10px;
  box-shadow: 10px 10px 8px 10px #888888;
  border-radius: 10px;
}

.btn-add {
  width: 100px;
  color: aliceblue;
  background-color: rgb(179, 93, 93);
}
.quantity {
  width: 50px;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

th:last-child,
td:last-child {
  border-right: none;
}

th {
  background-color: #f2f2f2;
}

.btn-del {
  padding: 4px 8px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.btn-del:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 600px) {
}
